 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    color: white;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  label {
    color: white;
  }
 
  :root {
    /* from https://css-tricks.com/creating-color-themes-with-custom-properties-hsl-and-a-little-calc/ */
    --shade-1: hsl(300, 100%, 10%); 
    --shade-2: hsl(300, 19%, 77%); 
    --shade-3: hsl(300, 100%, 20%);
    --shade-4: hsl(300, 63%, 74%);
    --shade-5: hsl(300, 100%, 30%); 
  }
  
  *  {
    background: var(--shade-2);
  }
  
  a {
    background: none;
  }
  
  p {
    font-size: 18px;
    color: var(--shade-1);
    font-weight: bold;
    background-color: var(--shade-2);
    text-align: center;
  }
  
  h1 {
    margin: auto 30px; 
    padding: 10px;
    color: var(--shade-3);
    font-weight: bold;
  }
  
  #header {
    padding: 15px 6% 15px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 755px;
  }
  
  #navigation {
    align-items: flex-end;
    font-size: 22px;
    text-decoration: none;
    align-content: center;
  }
  
  #navigation a {
    color: var(--shade-3);
    padding-left: 1em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--shade-4);
  }
  
  .card {
    background-color: var(--shade-1);
    border-radius: 5px;
    height: 400px;
    margin: 2rem;
    position: relative;
    width: 400px;
    box-shadow: 0 2px 2px var(--shade-1), 0 6px 12px var(--shade-2);
  }
  
  .card .img-container {
    height: 75%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: var(--shade-2);
  }
  
  .card .img-container img {
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    background-color: var(--shade-1);
  }
  
  .card .content {
    font-size: 18px;
    background-color: var(--shade-2);
    color: var(--orange-soda);
    font-weight: bold;
    text-align: center;
  }
  
  #project-icon {
    background-color: var(--shade-1);
    padding: 5px;
  }
  
  #topics {
    font-size: small;
    font-style: italic;
    color: var(--shade-1);
  }
  
  #card-title {
    margin-top: 10px;
    color: var(--shade-4);
    text-shadow: 1px 1px 6px var(--shade-1);
  }
  
  .wrapper {
    padding-top: 50px;
    justify-content: space-around;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    padding: 10px;
    align-content: flex-start;
  }
  
  #footer {
    padding: 5px;
    margin-top: 10px;
  }
  
  .icon {
    padding: 10px;
  }
  
  #about-section {
    margin: 2em;
  }
  
  #about-section p {
    background-color: var(--shade-1);
    color: var(--onyx);
  }
  
  #contact-section {
    justify-content: center;
    margin: 20px;
    margin-left: 10em;
    margin-right: 10em;
  }
  
  #front-back ul {
    list-style-type: none;
  }
  
  #front-back ul li {
    list-style-type: none;
  }
  
  #front-back h2 {
    color: var(--shade-3);
  }
  
  #front-back p {
    background-color: var(--shade-2);
  }
  
  #resume p {
    background-color: var(--shade-3);
    color: var(--shade-3);
    margin-top: 5px;
  }
  
  #footer {
    background-color: var(--shade-3);
  }
  
  #footer .icon {
    background-color: var(--shade-3);
    margin-top: 20px;
  }
  
  #footer p {
    background-color: var(--shade-2);
    margin-top: 8px;
  }
  
  #footer a {
    text-decoration: none;
    color: var(--shade-1);
  }
  
  #react-icon {
    background-color: var(--shade-2);
  }